body{
  margin: auto !important;
  padding: 0;
  overflow: hidden;
  background: #062C51 url("../img/背景.png") 50% 50% no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.title {
  margin-top: 10%;
  text-align: center;
  color: #33D0F6;
  font-weight: bold;
  font-size: 50rem;
  font-family: "PingFang SC";
  background: linear-gradient(180deg, rgba(35, 163, 182, 0.99) 18.1640625%, rgba(172, 214, 255, 0.99) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  margin-top: 40rem;
  font-size: 24rem;
  color: #33D0F6;
}

.form-style {
  margin-top: 40rem;
  width: 380rem;
}

.foot-style {
  text-align: center;
  color: white;
  font-size: 18rem;
  margin-bottom: 10rem;
}