
body{
  margin: auto !important;
  padding: 0;
  overflow: hidden;
  background: #062C51 url("../img/背景.png") 50% 50% no-repeat;
  //background-size: 100% 100%;
}

.contentTitle {
  height: 111rem;
  background: url("../img/头部.png") 50% 50% no-repeat;
  background-size: contain;
  text-align: center;

  span {
    display: inline-block;
    margin-top: 14rem;
    color: #33D0F6;
    font-weight: bold;
    font-size: 50rem;
    font-family: "PingFang SC";
    background: linear-gradient(180deg, rgba(35, 163, 182, 0.99) 18.1640625%, rgba(172, 214, 255, 0.99) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

.main {
  margin: 39.5rem 34.3rem;

}
.main-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main-bottom {
  margin-top: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


.singleModule {
  width: 600rem ;
  height: 416rem;
  background: url("../img/模块.png") 50% 50% no-repeat;
  background-size: cover;
}

.littleTitle {
  margin-left: 40rem;

  span{
    font-size: 24rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #21A4FF;
  }
}

.changeButton {
  width: 68rem;
  height: 68rem;
  cursor: pointer;
  margin-top: 7rem;
  margin-left: 500rem;
  background: url("../img/播放.svg") 50% 50% no-repeat;
  background-size: cover;
}

.single-main {
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.single-main-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.single-main-left-item {
  display: flex;
  margin-left: 15rem;
  width: 256rem;
  height: 124rem;
  background: url("../img/小模块.png") 50% 50% no-repeat;
  background-size: cover;

  .left-title {
    display: flex;
    font-size: 16rem;
    font-weight: bold;
    color: #D8F4FC;
    width: 124rem;
    height: 124rem;
    text-align: center;
    justify-content: center;
    align-items: center;


    span {
      display: inline-block;
      width: 64rem;
    }
  }

  .right-number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 124rem;
    width: 151rem;
    font-size: 40rem;
    font-family: DIN;
    font-weight: bold;
    color: #00FFFF;
  }
}


.single-main-right-1 {
  width: 253rem;
  height: 215rem;
  background: url("../img/折线图.png") 50% 50% no-repeat;
  background-size: cover;
  margin-right: 18rem;
}

.single-main-right-2 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  //background-repeat: no-repeat;
  width: 271rem;
  height: 264rem;
  //background-image: url("../img/智能知识规则引擎系统.png");
  background:rgba(6,62,104,0.3);
  margin-right: 24rem;
  margin-top: 10rem;

  .column {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #59ACF8;

    .column-single {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .icon1 {
      width: 70rem;
      height: 70rem;
      background: url("../img/神经网络.png") no-repeat center;
    }

    .icon2 {
      width: 70rem;
      height: 70rem;
      background: url("../img/语义理解.png") no-repeat center;
    }

    .icon3 {
      width: 70rem;
      height: 70rem;
      background: url("../img/海量数据处理.png") no-repeat center;
    }

    .icon4 {
      width: 90rem;

    }

  }
}

.single-main-right-3 {
  width: 224rem;
  height: 240rem;
  background: url("../img/饼图.png") 50% 50% no-repeat;
  background-size: cover;
  margin-right: 23rem;
}

.single-main-right-5 {
  width: 251rem;
  height: 256rem;
  background: url("../img/柱状图.png") 50% 50% no-repeat;
  background-size: cover;
  margin-right: 25rem;
}

.single-main-6 {
  width: 427rem;
  margin: auto;
  margin-top: 56rem;

  .single-main-6-top {
    display: flex;
    width: 427rem;
    justify-content: space-between;
    font-size: 18rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #59ACF8;

    .column-single {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div .icon1 {
      width: 88rem;
      height: 86rem;
      background: url("../img/统一管理.png") no-repeat center;
    }

    div .icon2 {
      width: 88rem;
      height: 86rem;
      background: url("../img/敏捷管理.png") no-repeat center;
    }

    div .icon3 {
      width: 88rem;
      height: 86rem;
      background: url("../img/易拓展.png") no-repeat center;
    }
  }

  .single-main-6-bottom {
    margin-top: 36rem;
    font-size: 20rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #21A4FF;
  }
}

.btn1 {
  position: absolute;
  top: 55rem;
  left: 112rem;
  width: 80rem;
  height: 80rem;
  font-size: 16rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #03D1FF;
  background: url("../img/原厂商云-小球开口向右_.png") 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn2 {
  position: absolute;
  top:90rem;
  left: 236rem;
  width: 180rem;
  height: 180rem;
  font-size: 20rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #03D1FF;
  background: url("../img/原厂商云-大球_.png") 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn3 {
  position: absolute;
  top: 130rem;
  left: 457rem;
  width: 80rem;
  height: 80rem;
  font-size: 16rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #03D1FF;
  background: url("../img/原厂商云-小球开口向上.png") 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn4 {
  position: absolute;
  top: 147rem;
  left: 38rem;
  width: 80rem;
  height: 80rem;
  font-size: 16rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #03D1FF;
  background: url("../img/原厂商云-小球开口向右_.png") 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn5 {
  position: absolute;
  top: 294rem;
  left: 102rem;
  width: 80rem;
  height: 80rem;
  font-size: 16rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #03D1FF;
  background: url("../img/原厂商云-小球开口向上.png") 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn6 {
  position: absolute;
  top: 294rem;
  left: 276rem;
  width: 80rem;
  height: 80rem;
  font-size: 16rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #03D1FF;
  background: url("../img/原厂商云-小球开口向上.png") 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn7 {
  position: absolute;
  top: 294rem;
  left: 442rem;
  width: 80rem;
  height: 80rem;
  font-size: 16rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #03D1FF;
  background: url("../img/原厂商云-小球开口向上.png") 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line1 {
  position: absolute;
  top:90rem;
  left: 180rem;
  width: 96rem;
  height: 28.6rem;
}

.line2 {
  position: absolute;
  top:110rem;
  left: 365rem;
  width: 130rem;
  height: 26rem;
}

.line3 {
  position: absolute;
  top:177rem;
  left: 108rem;
  width: 136rem;
  height: 11rem;
}

.line4 {
  position: absolute;
  top:207rem;
  left: 141rem;
  width: 107rem;
  height: 95rem;
}

.line5 {
  position: absolute;
  top:253rem;
  left: 307rem;
  width: 11rem;
  height: 48rem;
}

.line6 {
  position: absolute;
  top: 216rem;
  left: 390rem;
  width: 90rem;
  height: 85rem;
}